<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Scalc</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <form action="#" th:action="@{/calculator/add}" th:object="${equation}" method="get">
            <p>Campo A: <input type="text" th:field="*{leftOperand}" /></p>
            <p th:if="${#fields.hasErrors('leftOperand')}" class="error">Formato de operando inválido</p>
            <p>Campo B: <input type="text" th:field="*{rightOperand}" /></p>
            <p th:if="${#fields.hasErrors('rightOperand')}" class="error">Formato de operando inválido</p>
            <p th:if="${result != null}" th:text="'O resultado é: ' + ${result} + '.'"></p>
            <p>
                <input type="submit" value="Somar">
                <input type="submit" value="Subtrair" th:formaction="'/calculator/sub'">
            </p>
        </form>
    </body>
</html>

<style>
    .error {
        color: red;
    }
</style>
